body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #B2DFDB;
    margin-top: 3.5rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) { }
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    text-align: right;
    color: ghostwhite;
    font-family: "The Sims Sans";

}
.navbar-brand {
    font-family: "The Sims Sans";
    font-size: 40px;

}
.bg-custom {
    background-color: #26A69A;
}

