body {
    padding-top: 3.5rem;
    background-color: #B2DFDB;
}

.btn-default {
    color: #82DFDB;
}
.comments {
     margin: auto;
  width: 50%;
  padding: 10px;
    background: ghostwhite;
}
.comment {
    margin: 20px 100px 20px 20px;

}

.btn-outline,
.btn-outline:hover {
  border-color: #64FFDA
}

.btn-outline {
  border-radius: 30px;
}

.btn-outline:hover {
 background-color : #64FFDA;
}


