body {
    padding-top: 3.5rem;
    background-color: #B2DFDB;
}

.btn-default {
    color: #82DFDB;
}
.comments {
     margin: auto;
  width: 50%;
  padding: 10px;
    background: ghostwhite;
}
.comment {
    margin: 20px 100px 20px 20px;

}

.btn {
    margin: 20px;
    align-content: center;
     transition-duration: 0.4s;
}

.btn:hover {
    background-color: #18FFFF;
  color: white;
}
