{% extends "base.html" %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static "css/aboutme.css" %}">
<body>
<main role="main" class="container">

  <div class="starter-template">
    <h1>About Me</h1><br>
    <p class="lead">I am a 23 year old simmer. My first memory of The Sims was when I was 8 years old and I was playing
    on an old Gameboy Advance. I fell in love with the availability with being able to create my own life and have it any way I want.
    I am a computer programmer and I actually wrote all the code to this website for everything.
    </p> <br>
    <p>Here I plan to post a sim story and post my Youtube Videos. I will be adding a comment section to the posts soon.</p>
    <h3>Follow Me:</h3>  
      <a href="https://www.youtube.com/wickedlygaming"><img class="youtube" src="{% static "images/youtube.png" %}"> </a><br>
      <a href="https://www.instagram.com/wickedlysimming"><img class = "instagram" src="{% static "images/wickedlygaming.png" %}"></a><br>
      <a href="https://www.twitter.com/wickedlygaming"><img class="twitter" src="{% static "images/twitter.png" %}"></a>
  </div>

</main><!-- /.container -->
</body>
{%  endblock %}