{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "css/post_detail.css" %}">

    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 left  top">
                <div class="card-body">
                    <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
                    <p class=" text-muted">{{ post.author }} | {{ post.createdOn }}</p>
                    <img src="{{ post.image.url }}" class="img-responsive"
                         style="width: 100%; float: left; margin-right: 10px;"/>
                    <p class="card-text ">{{ post.content | safe }}</p>
                    {% if user.is_authenticated %}
                        <a class="btn btn-outline" href="{% url 'post_edit' slug=post.slug %}">Edit</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 left  top">
                <div class="card-body">
    <a class="btn btn-outline" href="{% url 'add_comment_to_post' slug=post.slug %}">Add comment</a>
    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    </div>
            </div>
        </div>
    </div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../assets/dist/js/bootstrap.bundle.js"></script>

