{% extends 'base.html' %}
{% block content %}
<style>
        body {
  padding-top: 3.5rem;
  background-color: #B2DFDB;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.createdOn }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
       <a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}">edit</a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>

